# Ignore Python environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore frontend junk
frontend/node_modules/
frontend/dist/

# Ignore model files
*.pth
*.pt
*.h5

# Ignore large data files
*.csv
*.xlsx
*.zip
*.tar
*.tar.gz

# Ignore git stuff
.git/
.gitignore

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/