# Ignore Python virtual environments
venv/
.venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore frontend stuff
frontend/node_modules/
frontend/dist/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore editor settings
.vscode/
.idea/

# Ignore git
.git/
.gitignore

# Ignore big data and models (IMPORTANT!)
*.csv
*.tsv
*.xlsx
*.pth
*.pt
*.h5
*.zip
*.tar
*.tar.gz