# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
frontend/node_modules/
frontend/public/
# ^ ignore node junk, build system files

# Environment
.env
*.env

# System junk
.DS_Store
Thumbs.db

# Docker build files
.dockerignore
Dockerfile

# Git
.git/
.gitignore