# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node
frontend/node_modules/
frontend/.svelte-kit/
frontend/public/

# Models
backend/model/*.pth

# Build artifacts
build/
dist/

# Git
.git/
.gitignore

# Others
.DS_Store
Thumbs.db

# Local dev files
.env
*.env